body {
    background-color: rgb(241, 245, 241);
}

.maint {
    text-align: center;
    padding-bottom: 1em;
}

.container {
    background-color: rgb(231, 231, 231);
    padding: 50px;
    margin-bottom: 5em;
    border-color:black;
    border-width: 5px;
    border-style: solid;
   
}

.subt {
    color: black;
    display: flex;
    text-align: left;
    justify-content: left;
    margin: 10 auto;
    margin-left: 25%;
    font-weight: bolder;
}

.passwordText {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border-width: 2px;
    background-origin: padding-box;
    border-style: dashed;
    padding: 20px;
    padding-right: 15%;
    padding-left: 15%;
    padding-bottom: 15%;
    color: grey;
}

.generateBtn {
    padding: 1em;
    color: white;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: crimson;
    border-style: groove;
    border-radius: 24px;

}
